<ion-toolbar color="#6959CD">
  <ion-buttons slot="start" >
    <ion-button [routerLink]="['', 'dashboard']">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Checklist Bus UNILAB</ion-title>
</ion-toolbar>


<ion-label id="titul">
  <h1>Usuários</h1>
</ion-label>
<ion-content>

  <ion-item *ngIf="loading">
    <ion-label>Buscando usuários...</ion-label>
    <ion-spinner name="crescent"></ion-spinner>
  </ion-item>

  <ion-grid *ngIf="semUser">
    <ion-row>
      <ion-col>
        <ion-label class="ion-text-wrap">
          <p>Nenhum usuário foi encontrado.</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-item *ngFor="let item of data" detail (click)="presentModal(item._id);">
    <ion-grid>
      <ion-row >
        <ion-avatar>
          <img src="../../assets/user.jpg" width="10px" height="10px">
        </ion-avatar>
        
        <ion-col size="8">
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h2>{{item.name}}</h2>
            </ion-text>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h2>info</h2>
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
<ion-card>
  <ion-button expand="block" [routerLink]="['', 'register-users']" shape="round">Novo Usuário</ion-button>
</ion-card>


