*{
    font-family: 'Open Sans', arial, sans-serif;
}
ion-toolbar{
    font-family: 'Open Sans', arial, sans-serif;
    background-color: #6959CD;
    color: #fff;
    
}
ion-avatar{
    width: 40px;
    height: 40px;
}
ion-content {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#titul{
    padding: 30px;
}
ion-button{
    --background: #6959CD;
    color: #fff;
}