<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Checklist Bus UNILAB</ion-title>
</ion-toolbar>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <h1>Cadastrar Usuarios</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-item>
        <ion-label>Curso</ion-label>
        <ion-input placeholder="Engenharia da Computação"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-item>
        <ion-label>Instituição</ion-label>
        <ion-input placeholder="Ex: UNILAB"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-item>
        <ion-label>E-mail</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-item>
        <ion-label>Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-item>
        <ion-label>Confirmar Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block">Cadastrar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
