ion-toolbar{
    font-family: 'Open Sans', arial, sans-serif;
    --background: #9400d3;
    color: #fff;
}
ion-item{
    margin: 10px;
}
ion-button{
    --background: #9400d3;
    color: #fff;
}
ion-grid{
    margin: 10px;
}
