<ion-toolbar>
  <ion-buttons slot="start" >
    <ion-button [routerLink]="['', 'users']">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Checklist Bus UNILAB</ion-title>
</ion-toolbar>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <h1>Cadastrar Usuarios</h1>
    </ion-col>
  </ion-row>
  <form novalidade [formGroup]="formulario" (ngSubmit)="confirmarCadastro();">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-input formControlName="name" name="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-item>
          <ion-label>Curso</ion-label>
          <ion-input placeholder="Engenharia da Computação" formControlName="curso" name="curso"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-item>
          <ion-label>Instituição</ion-label>
          <ion-input placeholder="Ex: UNILAB" formControlName="instituicao" name="instituicao"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-item>
          <ion-label>E-mail</ion-label>
          <ion-input formControlName="email" name="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
      <ion-item >
        <ion-label>Genero</ion-label>
        <ion-select placeholder="Selecione" formControlName="genero" name="genero">
          <ion-select-option value="Feminino">Feminino</ion-select-option>
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Outros">Outros</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-item>
          <ion-label>Cidade</ion-label>
          <ion-input formControlName="cidade" name="cidade"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
      <ion-item  class="ion-align-self-center">
        <ion-label>Situação</ion-label>
        <ion-select placeholder="Selecione" formControlName="situacao" name="situacao">
          <ion-select-option value="Ativo">Ativo</ion-select-option>
          <ion-select-option value="Inativo">Inativo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-item>
          <ion-label>Tipo de Usuario</ion-label>
        <ion-select placeholder="Selecione" formControlName="profiles" name="profiles">
          <ion-select-option value="aluno">Aluno</ion-select-option>
          <ion-select-option value="admin">Administrador</ion-select-option>
        </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input type="password" formControlName="password" name="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-item>
          <ion-label>Confirmar Senha</ion-label>
          <ion-input type="password" name="ConfirmSenha"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" type="submit"  shape="round">Cadastrar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>

</ion-content>
