<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <!--Inicio slide principal-->
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Checklist Bus UNILAB</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img id="imgprincip" src="../../assets/checklist.png" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4>Bem vindo(a). Faça seu login, busque por uma lista ativa da semana e informe se vai ou volta.</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img id="imgswipe" src="../../assets/swipe.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--Fim slide principal-->
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img id="imgswipe" src="../../assets/credential.png" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1>Entrar</h1>
          </ion-col>
        </ion-row>
        <!--formulario login-->
        <form novalidade [formGroup]="formLogin" (ngSubmit)="confirmarCadastro()">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input formControlName="email" name="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Senha</ion-label>
                <ion-input type="password" formControlName="password" name="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="light" type="submit">Entrar</ion-button>
            </ion-col>
          </ion-row>
        </form>
        <!-- fim formulario login-->
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>