<ion-content>
  <ion-slides pager="false" [options]="slideOpts" #slides>
    <ion-slide>
      <!--Inicio slide principal-->
      <ion-grid>
        <ion-row>
          <ion-col>
            <img id="imgprincip" src="../../assets/list.png" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1>Checklist Bus UNILAB</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="light" type="submit" shape="round" (click)="slides.slideNext()" >Começar<ion-icon name="arrow-forward"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--Fim slide principal-->
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img id="imgswipe" src="../../assets/credential.png" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1>Entrar </h1>
          </ion-col>
        </ion-row>
        <!--formulario login-->
        <ion-spinner name="crescent" *ngIf="loading" color="#FFF"></ion-spinner>
        <form novalidade [formGroup]="formLogin" (ngSubmit)="confirmarCadastro()" *ngIf="!loading">
          <ion-row>
            <ion-col>
              <ion-item  id="email">
                <ion-label position="floating" color="#000">E-mail</ion-label>
                <ion-input formControlName="email" name="email"></ion-input>
              </ion-item>
              <ion-item id="password">
                <ion-label position="floating" color="#000">Senha</ion-label>
                <ion-input type="password" formControlName="password" name="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" shape="round" id="btnEntrar">
                Entrar
              </ion-button>
              <ion-button color="light" shape="round" [routerLink]="['', 'register-user-anonimo']">
                Cadastrar-se
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
        <!-- fim formulario login-->
      </ion-grid>
    </ion-slide>
  </ion-slides>


  




</ion-content>