ion-slides {
    font-family: 'Open Sans', arial, sans-serif;
    height: 100%;
    background-color: #6959CD;
    color: #fff;
  }

#imgprincip{
    width: 50%;
}

#imgswipe{
    width: 40%;
    opacity: 0.2;
}
ion-item{
    margin: 10px;
    border-radius: 4px;
}
#password{
    border-radius: 30px;
    --background: #F8F8FF;
}
#email{
    border-radius: 30px;
    --background: #F8F8FF;
}