<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button [routerLink]="['', 'lists']" (click)="sairDetalheLista();">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Checklist Bus UNILAB</ion-title>
</ion-toolbar>

<ion-card id="cardBtn">
  <ion-card-content>
    <p></p>
    <ion-text color="primary">
      <h1>Total de Pessoas: {{totalUsers}}</h1>
    </ion-text>
    <ion-text color="success">
      <h1>Total de Vagas: {{limiteUsers - totalUsers}}</h1>
    </ion-text>
  </ion-card-content>
</ion-card>
<ion-content>
  <ion-item *ngFor="let item of data">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h2>{{item.name}}</h2>
            </ion-text>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="ion-text-wrap">
            <ion-text>
              <ion-badge color="success" *ngIf="item.idPrincipal == idUser">Você</ion-badge>
            </ion-text>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="ion-text-wrap">
            <ion-text>
              <ion-row>
                <ion-col>
                  <img id="imgswipe" src="../../assets/ir.png" *ngIf="item.vai"/>
                </ion-col>
                <ion-col>
                  <img id="imgswipe" src="../../assets/voltar.png" *ngIf="item.volta"/>
                </ion-col>
              </ion-row>
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
<ion-card>
  <ion-button expand="block" (click)="presentActionSheet()" shape="round">Opções</ion-button>
</ion-card>
