ion-toolbar{
    font-family: 'Open Sans', arial, sans-serif;
    --background: #6959CD;
    color: #fff;
}

ion-card{
    font-family: 'Open Sans', arial, sans-serif;
    
}
ion-button{
    --background: #6959CD;
    color: #fff;
}
