ion-toolbar{
    font-family: 'Open Sans', arial, sans-serif;
    --background: #6959CD;
    --color: #fff;
}
ion-avatar{
    width: 120px;
    height: 120px;
}
p{
    margin: 4px;
}

#colNome ion-card-title{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}