<ion-toolbar color="#6959CD">
  <ion-buttons slot="secondary">
    <ion-button fill="solid" (click)="sair()">
      Sair
    </ion-button>
  </ion-buttons>
  <ion-title>Checklist Bus UNILAB</ion-title>
</ion-toolbar>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-card id="cardBtn">
          <ion-item class="ion-activated">
            <ion-card-title>Lista da Semana</ion-card-title>
          </ion-item>
          <ion-card-content>
            Nesta opção, você pode visualizar a lista que está ativa e realizar algumas ações. Por exemplo: Entrar na lista da semana, editar a "ação"(Vai para redenção, Volta de redenção) e sair da lista.
          </ion-card-content>
          <ion-item [routerLink]="['', 'lists']" class="ion-activated" detail>
            <ion-label color="primary">Começar</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-card id="cardBtn">
          <ion-item class="ion-activated">
            <ion-card-title>Usuarios</ion-card-title>
          </ion-item>
          <ion-card-content>
            Nesta opção, você pode visualizar os usuários cadastrados no sistema e realizar algumas ações. Por exemplo: Editar, excluir e cadastrar.
          </ion-card-content>
          <ion-item [routerLink]="['', 'users']" class="ion-activated" detail>
            <ion-label color="primary">Começar</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-card id="cardBtn">
          <ion-item class="ion-activated">
            <ion-card-title>Nova Lista</ion-card-title>
          </ion-item>
          <ion-card-content>
            Nesta opção, você pode cadastrar um nova lista para uma determinada semana.
          </ion-card-content>
          <ion-item [routerLink]="['', 'create-lists']" class="ion-activated" detail>
            <ion-label color="primary">Começar</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
